body {
    margin: 0 auto;
}

div {
    margin: 0 20%;
}

h1 {
    background-image: url(assets/anakin.jpg);
    height: 584px;
    background-size: cover;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}

h2 {
    background-color: grey;
    padding: 20px;
    color: white;
    text-align: center;
}

p {
    text-align: justify;
}

span {
    font-weight: bold;
}