<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Average stock</title>
    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>
<h1><a href="/webshop">My Shop</a></h1>
<div id="navigationToFilteredDates">
    <a href="/only-available">Only available</a>
    <a href="/cheapest-first">Cheapest first</a>
    <a href="/contains-nike">Contains nike</a>
    <a href="/average-stock">Average stock</a>
    <a href="/most-expensive-available">Most expensive available</a>
</div>
<form class="search" action="/search" method="POST">
    <label>Search for:</label><br>
    <input type="text" name="searchInput" placeholder="...something like nike">
    <button>Search</button>
</form>
<p th:text="'Average stock: ' + ${averageOfStock}"></p>
</body>
</html>