<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aliasing service</title>
</head>
<body>

<label th:if="${hasError}" style="color: red">Your alias is already in use!</label>
<label th:if="${success}">
    Your URL is aliased to
    <span style="font-weight: bold" th:text="${successLink.alias}"></span>
    and your secret code is
    <span style="font-weight: bold" th:text="${successLink.secretCode}"></span>
    .
</label>

<form action="/save-link" method="post">
    <label>URL</label>
    <br>
    <input type="text" th:field="${link.url}">
    <br>
    <label>Alias</label>
    <br>
    <input type="text" th:field="${link.alias}">
    <br>
    <button type="submit">Submit</button>
</form>

</body>
</html>