<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="eng">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>
<div th:if="${isFox}">
    <ul>
        <li><a href="/information">Information</a></li>
    </ul>
    <img src="assets/greenfox.png" alt="Fox">
    <p th:text="'This is ' + ${name} + '. Currently living on ' + ${food} + ' and ' + ${drink} + '.' +
    ( ${gender}=='male' ? 'He ' : 'She ') + 'knows ' + ${listOfTricks.size()} + ' tricks.'"></p>
    <h1>Known tricks</h1>
    <ul>
        <li th:if="${listOfTricks.size()} > 0 ? ${listOfTricks} : 'You know no tricks, yet. Go and learn some.'"></li>
    </ul>
</div>
<h2 th:unless="${isFox}">You have provided a name that has not been used before, add it as a new one!</h2>
</body>
</html>