body {
    border-left: 1px grey solid;
    border-right: 1px grey solid;
    font-family: Montserrat;
    font-size: 12px;
    margin: 10px 50px;
    background-color: #fcea72;
}

h1 {
    background-color: grey;
    border: 1px black solid;
    padding: 10px 0px;
    margin-bottom: 0px;
    text-indent: 20px;
    font-size: 27px;
}

.body {
    padding: 2px 20px;
}

#radius {
    border: 1px black solid;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    background-color: grey;
    padding: 5px;
}

.box {
    border: 1px black solid;
    margin: 0 0 20px 0;
    padding: 2px 0;
}

p {
    text-align: justify;
}

#grey {
    color: grey;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 15px;
    margin-bottom: 0;
}