<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/submit">Submit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/register">Register<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <a class="nav-item nav-link" href="/home">Home</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Login with username</h1>
    <p1 th:if="${invalidUserdata}" style="color: red">Your login datas are invalid!</p1>
    <form class="title" action="/login" method="POST">
        <div class="form-row">
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Username" th:field="${user.name}">
            </div>
            <div class="col-7">
                <input type="text" class="form-control" placeholder="Password" th:field="${user.password}">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-danger">LOGIN</button>
    </form>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>