<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit a new post</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/register">Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/login">Login<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/logout">Logout</a>
            <a class="nav-item nav-link" href="/home">Home</a>
        </div>
    </div>
</nav>
<div class="container">
    <h1>Submit a new post</h1>
    <form th:action="@{submit}" th:method="post">
        <div class="form-row">
            <div class="col-7">
                <label for="title">Title</label>
                <input id="title" type="text" class="form-control" placeholder="Title" th:field="${post.title}">
            </div>
            <div class="col">
                <label for="url">Url</label>
                <input id="url" type="text" class="form-control" placeholder="URL" th:field="${post.url}">
            </div>
        </div>
        <select name="userId">
            <option th:each="user : ${users}" th:value="${user.userId}" th:text="${user.name}"></option>
        </select>
        <button type="submit" class="btn btn-outline-danger">SUBMIT</button>
    </form>
</div>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>